[Unit]
Description=Clear out /var/lib/docker after a reboot
DefaultDependencies=no
After=local-fs.target
Before=early-docker.service
ConditionPathIsReadWrite=/var/lib

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/rm -rf /var/lib/docker/* || exit 0'

[Install]
WantedBy=multi-user.target
