[Unit]
Description=Bastion - Security Group Hack
After=opsee-network.service docker.service env-lock.service
Requires=opsee-network.service docker.service env-lock.service

[Service]
User=core
Restart=on-failure
TimeoutStartSec=0
RestartSec=5s
EnvironmentFile=/etc/opsee/bastion-env.sh
ExecStartPre=-/usr/bin/docker stop -t 5 %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --cgroup-parent=systemd --name %p --net=opsee --env-file /etc/opsee/bastion-env.sh -e NSQD_HOST=nsqd:4150 quay.io/opsee/bastion:${BASTION_VERSION} /hacker
ExecStop=/usr/bin/docker stop -t 5 %p 

[Install]
WantedBy=opsee-network.service
