[Unit]
Description=Bastion - Monitor
After=opsee-network.service
Requires=opsee-network.service

[Service]
Restart=always
User=core
TimeoutStartSec=0
RestartSec=5s
EnvironmentFile=/etc/opsee/bastion-env.sh
ExecStartPre=-/usr/bin/docker stop -t 5 %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker pull quay.io/opsee/bastion:${BASTION_VERSION}
ExecStart=/usr/bin/docker run --rm --cgroup-parent=systemd --name %p --net=container:opsee-network --env-file /etc/opsee/bastion-env.sh -e ETCD_HOST=http://etcd:2379 -e NSQD_HOST=nsqd:4150 quay.io/opsee/bastion:${BASTION_VERSION} /monitor -admin_port=4001
ExecStop=/usr/bin/docker stop -t 5 %p

[Install]
WantedBy=multi-user.target
