[Unit]
Description=Bastion - Monitor
After=opsee-network.service sleeper.service docker.service env-lock.service bastion-etcd.service nsqd.service connector.service
Requires=opsee-network.service sleeper.service docker.service env-lock.service bastion-etcd.service nsqd.service connector.service

[Service]
Restart=always
User=core
TimeoutStartSec=0
RestartSec=5s
EnvironmentFile=/etc/opsee/bastion-env.sh
ExecStartPre=-/usr/bin/docker stop -t 5 %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p --net=container:sleeper --env-file /etc/opsee/bastion-env.sh -e ETCD_HOST=http://etcd:2379 -e NSQD_HOST=nsqd:4150 -v /var/run/docker.sock:/var/run/docker.sock {{ image }}:{{ version }} /monitor -admin_port=4001
ExecStop=/usr/bin/docker stop -t 5 %p

[Install]
WantedBy=sleeper.service
