[Unit]
Description=nsqd
After=opsee-network.service docker.service
Requires=opsee-network.service docker.service

[Service]
Restart=always
User=core
TimeoutStartSec=0
RestartSec=5s
ExecStartPre=-/usr/bin/docker stop -t 5 %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p --net=opsee --expose 4150 --expose 4151 {{ image }}:{{ version }} /nsqd
ExecStop=/usr/bin/docker stop -t 5 %p

[Install]
WantedBy=opsee-network.service
