[Unit]
Description=Base container for opsee-side services
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=core
TimeoutStartSec=0
RestartSec=5s
ExecStartPre=-/usr/bin/docker network rm opsee
ExecStart=/usr/bin/docker network create opsee

[Install]
WantedBy=multi-user.target
